%ul
  %li Update Spanish, Ukrainian, Hungarian and Finnish translations
  %li Skip writing the Aegisub project stuff when exporting to ASS
  %li Fix some ugliness in the OS X icon
  %li Update the selection and scroll position after opening subtitles from video
  %li Fix crash on a certain kind of malformed shift times history file
  %li Don't set the YCbCr header field to "None" when resampling resolution without changing colors
