%ul
  %li Actually register the SSA file handler so that SSA files can be opened and exported
  %li Deduplicate Extradata entries created by Automation scripts
  %li Fix loading subtitles from Matroska files which have [Aegisub Extradata] sections
  %li Handle parsing errors when loading Shift Times history
  %li Add Ukrainian UI translation

