body, html {
	background: #ffffff;
	font-family: Verdana, sans-serif;
	font-size: 11pt;
}

p {
	padding: 0;
	margin: 0 0 0.6em 0;
	text-indent: 1.5em;
	line-height: 1.7;
	font-family: Verdana, sans-serif;
	font-size: 11pt;
}

a:link, a:visited {
	text-decoration: none;
	color: #C51216;
}

a:hover, a:active {
	text-decoration: underline;
	color: #E4141A;
}

#download table {
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-width: 1px 1px 1px 1px;
	background-color: white;
	border-color: black black black black;
	border-collapse: collapse;
}

#download table th {
	background-color: e1e1e1;
}

.important {
    margin: 1em;
    padding: 1em 2em;
    word-wrap: break-word;
	border: 1px solid #FF4A66;
	text-align: center;
}

body li {
	font-family: Verdana, sans-serif;
	font-size: 10pt;
}

ul.list li {
    text-align: left;
    padding: 1px 1px 1px 1px;
    margin: 3px;
}
