{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <div class="text-center">{{ .Content }}</div>
      {{ range .Site.Menus.changelogs -}}
        <h3>{{ .Name }}</h3>
        {{ if .HasChildren -}}
        <ul class="list-unstyled">
          {{ range .Children -}}
            <li><a href="{{ .URL | relLangURL }}">Changelog for {{ .Name }}</a>
              {{ if .Page.Date }} <small>({{ .Page.Date.Format "January 2, 2006" }})</small>{{ end }}
            </li>
          {{ end -}}
        </ul>
        {{ end -}}
      {{ end -}}
    </article>
  </div>
</div>
{{ end }}
