@import "variables"
@import "bootstrap"
@import "bootswatch"

body
  padding-top: 60px

div.navbar .nav > li > a
  font-weight: normal

footer
  border-top: 1px solid #EEE
  padding-top: 1em

.changelog dd:not(:nth-child(2))
  border-top: 1px solid #CCC

#manual-sidebar
  @extend .nav
  @extend .nav-list
  @extend .well
  padding-top: 10px
  margin-right: 20px

  li
    line-height: 16px
