{{ $localizedDate := .PublishDate | time.Format site.Params.dateFormat -}}

{{ $ctbs := .Params.contributors -}}
{{ $last := sub (len $ctbs) 1 }}
{{ $ctbStr := "" -}}
{{ if $ctbs -}}
  {{ range $index, $contributor := $ctbs -}}
    {{ if gt $index 0 -}}
      {{ if eq $index $last -}}
        {{ $ctbStr = printf "%s %s " $ctbStr (T "and") -}}
      {{ else -}}
        {{ $ctbStr = printf "%s%s" $ctbStr (T "comma") -}}
      {{ end -}}
    {{ end -}}
    {{ $ctbURL := printf "%s%s/" ("/contributors/" | relURL) ($contributor | urlize) -}}
    {{ if eq site.Params.languageTag "zh-CN" -}}
      {{ $ctbURL = printf "%s%s" ("/zh-cn" | relURL) $ctbURL -}}
    {{ end -}}
    {{ $ctbStr = printf "%s<a class=\"stretched-link position-relative\" href=\"%s\">%s</a>" $ctbStr $ctbURL $contributor -}}
  {{ end -}}
{{ end -}}

<p><small>{{ T "post-metainfo" (dict "date" $localizedDate "authors" $ctbStr "readingTime" .ReadingTime) | safeHTML }}</small></p>
