---
nav_group: Manual
---
.row-fluid
  .span8.offset2
    .well
      %h2 User manual
      %p <a class="btn btn-primary" href="3.0/">3.0 Manual</a> User manual for the 3.0 release.
      %p <a class="btn" href="3.1/">3.1 Manual</a> User manual for the upcoming 3.1 release.
      %p <a class="btn" href="manual/">2.1 Manual</a> User manual for 2.1.6 - 2.1.9 releases.
