---
nav_group: 手册
---
.row-fluid
  .span8.offset2
    .well
      %h2 用户手册
      %p <a class="btn btn-primary" href="3.2/">3.2 手册</a> 3.2版本的用户手册，正在翻译。
      %p <a class="btn" href="3.1/">3.1 手册</a> 3.1版本的用户手册（英文）。
      %p <a class="btn" href="3.0/">3.0 手册</a> 3.0.0 - 3.0.4版本的用户手册（英文）。
      %p <a class="btn" href="http://docs.aegisub.org/manual/">2.1 手册</a> User manual for 2.1.6 - 2.1.9 releases.
