%p.lead This should list all changes in Aegisub between version 2.1.8 and 2.1.9. A few minor things may have been missed, but it shouldn't be anything important.
%h2 Overview
%ul
  %li The release mainly consist of bug-fixes.
  %li Completely rewritten SRT parser, much more robust and handles formatting codes much better.
  %li Karaskel (and thus kara-templater) now correct for script/video resolution mismatch. You no longer have to make sure they match to get correct positioning in karaoke effects.
  %li The Windows installer no longer includes spell checker and thesaurus dictionaries. This has made it about 10 MB smaller. Dictionaries are now instead offered as separate downloads.
  %li Autocommit in audio karaoke mode works again.
  %li We now ship with FFmpegSource 2.17 on Windows which has much improved media support, including 10 bit H.264 and MKV header removal compression.
  %li After numerous complaints, the splash screen is completely gone now.
  %li Rewritten ALSA audio player, meaning much more stable audio playback on Linux. Also fixed the PulseAudio player.
  %li The Mac OS X build should be more stable overall, largely due to bug-fixes and improvements in wxWidgets.
  %li Added translations to Farsi and Polish.
%h2 Details
%dl.dl-horizontal
  %dt Attachments
  %dd
    %p The Attachments dialogue will now properly set undo points
    %p When closing the Attachments dialogue, any empty attachment sections are cleaned up from the file
  %dt Audio
  %dd
    %p Fix a handle leak and a rare deadlock in the DirectSound audio player
    %p Might be a little faster when displaying keyframe markers (pink lines)
    %p No more "You pressed cancel!" pseudo-errors when canceling audio loading
  %dt Automation
  %dd
    %p Fix for rare furigana layout issue in karaskel
    %p The append operation for the subtitle object now intelligently appends dialogue lines to the end of the Events section instead of absolute end of file, solving issues with appending dialogue after attachments
    %p Returning selections from Lua macros now works correctly, no longer shifts the selection down by one from the intended
    %p The table.copy_deep function in utils.lua now works as advertised and handles self-referencing tables and circular references
    %p Added new "remember/recall" suite of functions to Karaoke Templater
  %dt File i/o
  %dd
    %p Selecting charset/text encoding after opening a non-Unicode file now properly respects your choice
    %p Added support for writing the EBU STL (tech 3264) subtitle data exchange format
    %p Warn if trying to load a binary .sub file, which is likely a VobSub file (which is not supported)
  %dt General
  %dd
    %p Changed compilation settings to make the Windows binaries smaller without sacrificing speed or functionality
    %p VSFilter is now linked as a normal DLL dependency instead of dynamically discovered at runtime, using alternative CSRI renderers no longer possible, this should make loading a wrong vsfilter almost impossible
    %p Various input methods on Linux should work more reliably now
    %p Fixed a variety of memory leaks
  %dt Help system
  %dd
    %p The locally installed help would never actually get used when using Help buttons or the Help menu
  %dt Hotkeys
  %dd
    %p Fixed a bug where having a hotkeyable item having no hotkey would cause wrong key combinations (try to) activate that anyway
  %dt Installer
  %dd
    %p Various changes making it more stable, issues with Kapersky Internet Security 8 should be solved now
    %p The portable version is now (again) a self-extracting RAR archive, rather than an InnoSetup installer
  %dt Select Lines
  %dd
    %p The active line is now always one of the selected lines after using the Select Lines dialog
  %dt Shift Times
  %dd
    %p Made the shift times history display one-based frame numbers when shifting the selection onwards
  %dt Spell checker
  %dd
    %p Updated list of "word separator" characters, meaning punctuation such as hyphens should now behave better
    %p You now get an appropriate message when no dictionaries are installed and you try to spell check
  %dt Style Manager
  %dd
    %p Duplicating a style and renaming the copy no longer gives a rename warning
    %p Fixes to copying styles between storage and script
    %p All controls are now dynamically resized, as a result it is overall a little larger and adjusts size to fit translated texts
  %dt Subtitle grid
  %dd
    %p The subtitle grid now also takes the width of column title texts into account when calculating column sizes, allowing translations more freedom in choice of column texts
    %p Fixed the "clicking near top/bottom of grid selects multiple lines" issue, and other row selection issues
  %dt Timing post-processor
  %dd
    %p The "make adjacent" threshold now has the end of the range be inclusive
  %dt Translation Assistant
  %dd
    %p Fixed a control layout issue on Mac, preventing it from working properly there
  %dt Translations
  %dd
    %p Added Polish
    %p Added Farsi (Persian)
  %dt Update checker
  %dd
    %p Fix a possible crash
  %dt Video
  %dd
    %p Canceling FFmpegSource indexing now stops video loading, instead of trying another video provider
    %p Fixed a bug related to first loading timecodes, then loading a video, causing subtitle rendering to break
  %dt Video display
  %dd
    %p Detached mode should work properly (again?)
    %p Zooming video in works correctly again, it no longer compresses the video
    %p As a side effect of the above, there is now no longer a sunken border around the video
    %p The video display was consistently a little too small in each direction, causing blurry display
    %p Other minor optimisations and improvements to error reporting
    %p Fixed minor bugs with opening a new video without closing an already open one
    %p The visual typesetting tools are now hidden when video is playing
    %p Maybe made the OpenGL initialisation for the video display more reliable on poor drivers, might fix issues with some ATI/AMD and Intel driver versions
