<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Display</th>
      <th scope="col">Help</th>
    </tr>
  </thead>
  <tbody>
    {{ $pageLang := .Page.Lang}}
    {{ range .Site.Data.commands_32 }}
      <!-- TODO: check "eq $pageLang .locale" for all lang -->
      {{ if and (eq $pageLang "en") (eq .locale "en_US") }}
        {{ range .commands }}
        <tr>
          <td>{{ .name }}</td>
          <td>{{ .display }}</td>
          <td>{{ .help }}</td>
        </tr>
        {{ end }}
      {{ end }}

      {{ if and (eq $pageLang "zh-cn") (eq .locale "zh_CN") }}
        {{ range .commands }}
        <tr>
          <td>{{ .name }}</td>
          <td>{{ .display }}</td>
          <td>{{ .help }}</td>
        </tr>
        {{ end }}
      {{ end }}

      {{ if eq $pageLang .locale}}
        {{ range .commands }}
        <tr>
          <td>{{ .name }}</td>
          <td>{{ .display }}</td>
          <td>{{ .help }}</td>
        </tr>
        {{ end }}
      {{ end }}
    {{ end }}
  </tbody>
</table>
