%dl.dl-horizontal
  %dt General
  %dd
    %p Allow framerate transform to/from variable without external timecodes loaded (#{ticket 1530})

  %dt Linux
  %dd
    %p Remove dependency on glu
    %p Honor docdir and localedir configuration variables

  %dt OS X
  %dd
    %p The Fonts Collector actually works

  %dt Subs edit box
  %dd
    %p Break undo grouping after 30 seconds of inactivity rather than 10

  %dt Translations
  %dd
    %p Fix a few errors in the German translation (#{ticket 1523})
