%dl.dl-horizontal
  %dt Translations
  %dd
    %p Updated Russian translation
    %p Updated Greek translation
    %p Partially update Finnish translation
    %p Fixed some errors in the Portuguese translation
    %p Fix packaging issues with the Serbian translation
    %p Make it possible to use all of the translations on OS X
  %dt Karaoke
  %dd
    %p Update the size of the karaoke syllable bar when the window is resized
    %p Add scroll arrows to the karaoke syllable bar when the contents are too wide to fit
    %p Change the color of the karaoke syllable split cursor to indicate whether it'll add or remove a split
    %p Increase the hit area for removing karaoke splits a little
    %p Remove the correct split when clicking to the left of a split line
  %dt Audio
  %dd
    %p Re-add the "Play current line" button to the audio toolbar
    %p Stop video playback when the stop button is clicked in the audio toolbar as 2.1.9 did
    %p Scroll the audio display after a click near an edge when auto-scrolling is enabled
    %p Recenter the audio display if a newly selected line is very close to an edge in addition to if it's not fully onscreen, as 2.1 did
  %dt Video
  %dd
    %p Fix subtitle timing issues after loading a timecodes file
    %p Fix rounding error that resulted in 30000/1001 FPS video being treated as 30001/1001 FPS
