%dl.dl-horizontal
  %dt Windows
  %dd
    %p Fix context menus in many controls (#{ticket 1619})
    %p Work around access denied errors from antivirus scanners (#{ticket 1618})

  %dt Translations
  %dd
    %p Update Basque translation
