%dl.dl-horizontal
  %dt OS X
  %dd
    %p Add partial HiDPI support
  %dt Spellchecking
  %dd
    %p Updated from hunspell 1.2.1 to 1.3.2 on Windows
  %dt Subs Edit Box
  %dd
    %p The buttons in the main edit box can be hotkeyed
    %p By default, Alt+1-4 activate the appropriate color buttons
