%dl.dl-horizontal
  %dt Translations
  %dd
    %p Actually install the Dutch translation
    %p Update Basque translation
    %p Add Bulgarian translation
  %dt Bug Fixes
  %dd
    %p Fix some issues with file associations on Windows 7 and later
    %p Make <tt>subs.deleterange(start, end)</tt> not do totally incorrect things
    %p Fix some cases where the row to extend shift-click selections in the grid was not updated correctly
    %p Fix assertion failure when built with boost 1.52

