%dl.dl-horizontal
  %dt Translations
  %dd
    %p Update Spanish translation
    %p Update Simplified Chinese translation
    %p Update Hungarian translation
  %dt Bug Fixes
  %dd
    %p Fix spellchecker dictionary listing on Vista
    %p Reenable shift-enter to insert \N in the translation assistant
    %p Don't modify the "YCbCr Matrix" header when dummy video is opened
    %p Fix constant codecvt errors on OS X

