%dl.dl-horizontal
  %dt Automation
  %dd
    %p Return a rgba string for coloralpha lua controls (rather than just rgb)
    %p Update to moonscript 0.2.5
    %p Fix memory leaks when automation errors occur
    %p Add an error check for trying to interact with an expired subtitles object rather than just crashing
  %dt Other Stuff
  %dd
    %p Fix a crash when deleting lines with audio open
    %p Sort the actor and effect dropdown lists (#{ticket 1715})
    %p Fix crash on startup when the config file can't be written
    %p Fix some performance issues with very large selections
    %p Fix some cases where the taskbar progress indicator would get stuck at nearly complete
    %p Speed up passing subtitles to libass a bit
    %p Fontconfig reads installed fonts from the registry on Windows, adding support for fonts installed via font managers to the fonts collector

