---
title: Aegisub Advanced Subtitle Editor - Update Checker Statistics
-# directory_index: false
---

.row-fluid
  .span10.offset1
    .well
      %h1.page-header Full disclosure: Statistics collected by the update checker
      %p.alert.alert-error You can disable the update checker without ever contacting our servers by selecting "NO" on first run. You can modify a previously selected setting on the General page in Options.
      %p We are aware that some of our users care a lot about their privacy.
      %p First, the short version: If you do not want to participate in anonymous data collection, do not enable the built-in update checker. If you want to know what information is collected, read on.
      %p Aegisub's update checker function retrieves a file describing any potential updates available for your installed version of Aegisub. Along with this request, some anonymous information about your operating environment are sent, to allow us as developers to better target our efforts, and to loosely gauge how large the Aegisub user base is.
      %p If you have enabled automatic update checking, the update checker runs automatically every time you start Aegisub, although at most once in a one-hour period. If updates are found, you are offered to postpone further checking for a week. If you choose to postpone further checks, it will be approximately 7 days until the next time a check is run. Aegisub never checks for updates when it is not running, there are no background processes.
      %p If you want to read a technical description of the update checker, visit <a href="http://devel.aegisub.org/wiki/Technical/UpdateChecker">UpdateChecker</a>.  The date/time and IP address aren't mentioned there, those are collected in the web server logs, which is what we analyse.
    %p As of version 3.0.0, the following information is recorded when a check for updates is made:
    %h3 Date and time
    %p Date and time are used to group the statistics by time periods and to see trends across time. For example, to track the adoption rate of a new version.
    %h3 IP Address
    %p IP addresses are used to are aggregated into geographical regions to track where Aegisub is being used the most, to target localisation efforts, and possibly to select locations of download mirrors at a later point in time. IP addresses are also correlated to group all checks performed by a single user, to approximate the number of users we have. All of this is completely automated and we do not attempt to identify individuals, only count them anonymously as part of a statistics.
    %h3 Version
    %p The Aegisub version is used primarily to send only relevant update information to you, and not send update information for, for example, an unstable pre-release version you aren't using. It is also used to gauge how new releases are adopted.
    %h3 Operating System
    %p The operating system information is used to target our development efforts, to determine what operating systems we should put more effort into making sure Aegisub delivers a good experience on.
    %h3 Interface Language
    %p The user interface language Aegisub and of the operating system, to identify what languages may be worth pursuing translations for.
